body > * {max-width:1920px; min-width:440px;}
.h_top {
    max-width:1920px; height:40px; background: #1A2F6D;
    display:flex; justify-content: center; align-items:center;
}
.h_top p {
    color:#fff; font-size:0.88rem; font-weight:500; letter-spacing:-0.02em;
}
.h_top #close_btn {position:absolute; left:97%; top:8px;}
.h_top #close_btn img {}
header {max-width:1920px; height:110px; padding:20px 80px; overflow:hidden; }
header > a {text-align:center;}
header > a img {}
header .h_left {float:left;}
header .h_left ul {display:flex;}
header .h_left ul li {margin-right:25px;}
header .h_left ul li:last-child {margin-right:0;}
header .h_left ul li a {font-size:0.88rem; font-weight:600; letter-spacing:-0.02em;}
header .h_left ul li:first-child a {color:#002cad;}
header .h_left ul li:nth-child(2) a {color:#d70000;}
header .h_right {display:flex; float:right;}
header .h_right > * {
    float:right;
    font-size:0.88rem; letter-spacing:-0.02em; font-weight:600; margin-right:20px;
}
header .h_right a {}
header .h_right p {margin-right:0;}
header .h_right p span {background-color:#002cad; color:#fff; width:14px; border-radius:50%; height:14px; display:inline-block; text-align:center; font-size:0.75rem; line-height:14px; }
footer {max-width:1920px; background-color:#1A2F6D; height:350px; padding:95px 80px;}
footer .footer_contents {max-width:1760px; display:flex; justify-content: space-between; color:#fff;}
footer .footer_contents .footer_left {}
footer .footer_contents .footer_left .left_top {margin-bottom:50px;}
footer .footer_contents .footer_left .left_top a {color:#fff; font-size:0.88rem; font-weight:500; letter-spacing:-0.02em; margin-right:20px;}
footer .footer_contents .footer_left .left_top a:last-child {margin-right:0;}
footer .footer_contents .footer_left p {font-size:0.81rem; line-height:1.4; letter-spacing:-0.02em; margin-bottom:30px;}
footer .footer_contents .footer_left p:last-child {font-size:0.75rem; margin-bottom:0;}
footer .footer_contents .footer_right {}
footer .footer_contents .footer_right h2 {font-size:0.94rem; letter-spacing:-0.02em; font-weight:500; text-align:right; margin-bottom:15px;}
footer .footer_contents .footer_right .sns_link {}
footer .footer_contents .footer_right .sns_link a {margin-right:15px;}
footer .footer_contents .footer_right .sns_link a:last-child {margin-right:0;}